.tick line{
    stroke: red;
    opacity: 0.3;
}

.line {
    fill: none;
    stroke: #3f75a2;
    stroke-width: 1.5px;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}



#moveButtons {
    width: 100%;
    text-align:center;
    vertical-align:top;
}

#buttonMoveLeft {
    width: 30%;
    margin-right: 1%;
    float: left;
    cursor: ew-resize;
}

#buttonMoveRight {
    width: 30%;
    margin-left: 1%;
    float:right;
    cursor: ew-resize;
}

#moveButtons > .btn-yzoom {
    vertical-align:top;
    min-width: 40px;
    width: 5%;
    margin: 0 1%;
    text-align: center;
    cursor: ns-resize;
}


#moveButtons > .btn-xscale {
    /*min-width: 4%;*/
    min-width: 40px;
    padding: 5px;
    /*height: 20px;*/
    /*font-size: 10pt;*/
    cursor: ew-resize;
}

#moveButtons .xscale-badges {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#moveButtons .xscale-badges .badge {
    display: block;
    /*max-width: 4%;*/
    max-width: 50px;
    cursor: ew-resize;
    margin: 2px 0;
    padding: 3px 10px;
    /*margin: 2px 2%;*/
}

#moveButtons .xscale-badges .badge:hover {
    background-color: #333;
}

#buttonHelpInfo {
    padding: 0;
    vertical-align:top;
    min-width: 40px;
    width: 5%;
    /*margin: 0 1%;*/
    text-align: center;
    font-size: 18pt;
    /*!*width: 24px;*!*/
    /*width: 3%;*/
    margin: 0 0 -12px 0;
    /*margin: 0 12px 0 -12px;*/
    color: #b5af0c;
    /*height: 10px;*/
    cursor: help;
    /*10px 10px 10px;*/
}

#moveButtons .btn-label {
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
}

btn.disabled {
    background-color: #cccccc;
    color: #666666;
}